/** HEADER **/
#header-nav {
  background-color: #E0E2B2;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 {
  font-family: 'Lora', serif;
  color: #0F9035;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #0F9035;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.6em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #0F9035;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#main-description {
  font-size: 16px;
  color: #000;
  background-color: #DDE8CB;
  font-family: 'Oxygen', sans-serif;
}
